In [14]:
print("DEEVYANSH IS THE BEST")

DEEVYANSH IS THE BEST

In [4]:
a = 10
b = 22.5
c = "HELLO"

print(a,b,c)

10 22.5 HELLO

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
# single line comment
''' multiple
line comment'''

' multiple\nline comment'

In [9]:
a,b,c = 10,24,"DEEVYANSH" #multiple assignment
print(a)
print(b)
print(c)

10
24
DEEVYANSH

In [11]:
# print adrss of 10 <in which adress 10 is stores>
id(a) # as a has adress of a

140734953014344

In [12]:
type(c)

str

In [13]:
c=10
type(c)

int

In [15]:
# data types
a= 'abc' #string
b= '1' # in python everything is string no character
c= '3s' # is string also can be written in double and single quotes
type(c)

str

In [17]:
# numeric dtype
a = 10 # int # in python we only hv int no long 
b = 24.5 # float
c = 3+4j # complex
print(c)
type(c)

(3+4j)

complex

In [18]:
# seq type dtype
ls = [1,2,3] #list
tp = (1,2,3) #tupple

In [19]:
# mapping type
# works on key value pair concept

In [20]:
# set dtype
# set value can be changes
# frozen set values in that set can not be changed

In [21]:
# non dtype
r=None
print(r)

None

In [26]:
# conversion of dtype
a = 30.5
b = int(a)
print(a, type(b),b)

30.5 <class 'int'> 30

In [27]:
a = 30.9
a = int(a)
print(a)

30

In [2]:
c="12.233"
k=float(c)
print(k,type(k))

12.233 <class 'float'>

In [3]:
#ascii value
#a->97

In [4]:
a = 98
c = chr(a) #int to character value
print(c)

b

In [6]:
c = 'a'
a = ord(c) #character to int ascii
print(a)

97

In [7]:
a=10
b=23
c=a+b
print(c)

33

In [8]:
a=10
b=20
c=a/b
print(c)#in java and c++ this would return 0

0.5

In [9]:
# % returns remainder

In [12]:
a=10
b=20
c= a==b
print(c)

False

In [13]:
# not a is reverse of a what ever may be true or false

In [15]:
a=100
b=20nt
c=50

e=a>b<c # only accepted in python
d=a>b and b<c # both r same

print(d)
print(e)

True
True

In [17]:
a = 10
a *= 10
print(a)

100

In [20]:
a=100
b=100
print(id(a),id(b))
print(id(a) == id(b))
print(a is b) #short way of doing comparison
print(a is not b)

140735313989512 140735313989512
True
True
False

In [22]:
a=10
print("hii")

if a%2 == 0:
    print('EVEN') # concept of identation
else:
    print('odd')

print('bye')

hii
EVEN
bye

In [27]:
age = int(input("ENTER UR AGE"))
if age>18:
    print('eleg')
else:
    print('ne')

ENTER UR AGE 19

eleg

In [5]:
marks = int(input("ENTER UR MARKS"))
if(marks>=80 and marks<=100):
    print("A")
elif(marks>=60 and marks<80):
    print("B")

ENTER UR MARKS 61

B

In [8]:
#another way of writing above code
marks = int(input("ENTER UR MARKS"))
if 100 >= marks >=80 :
            print("A")

ENTER UR MARKS ww

ValueError: invalid literal for int() with base 10: 'ww'

In [11]:
a=0
c=bool(a)
print(c)

False

In [12]:
a=1
c=bool(a)
print(c)

True

In [13]:
a=5
c=bool(a)
print(c)

True

In [14]:
# TERNARY OPERATOR
a = 100
b = 20

c= a if a>b else b
c

100

In [15]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [16]:
# sum of numbers from 1 to 10
i=1
sum=0

while i<=10:
    sum += i
    i+=1

print(sum)

55

In [20]:
# finding gcd of two numbers

n1 = int(input("ENTER UR NUMBER"))
n2 = int(input("ENTER UR 2ND NUMBER"))

# finding smallest number bw the two
if n1<n2 :
    sn=n1
else:
    sn=n2

i=1

while i<=sn:
    if(n1%i==0 and n2%i==0):
        gcd=i
    i+=1

print(gcd)

ENTER UR NUMBER 12
ENTER UR 2ND NUMBER 15

3