In [14]:
print("DEEVYANSH IS THE BEST")

DEEVYANSH IS THE BEST

In [4]:
a = 10
b = 22.5
c = "HELLO"

print(a,b,c)

10 22.5 HELLO

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
# single line comment
''' multiple
line comment'''

' multiple\nline comment'

In [9]:
a,b,c = 10,24,"DEEVYANSH" #multiple assignment
print(a)
print(b)
print(c)

10
24
DEEVYANSH

In [11]:
# print adrss of 10 <in which adress 10 is stores>
id(a) # as a has adress of a

140734953014344

In [12]:
type(c)

str

In [13]:
c=10
type(c)

int

In [15]:
# data types
a= 'abc' #string
b= '1' # in python everything is string no character
c= '3s' # is string also can be written in double and single quotes
type(c)

str

In [17]:
# numeric dtype
a = 10 # int # in python we only hv int no long 
b = 24.5 # float
c = 3+4j # complex
print(c)
type(c)

(3+4j)

complex

In [18]:
# seq type dtype
ls = [1,2,3] #list
tp = (1,2,3) #tupple

In [19]:
# mapping type
# works on key value pair concept

In [20]:
# set dtype
# set value can be changes
# frozen set values in that set can not be changed

In [21]:
# non dtype
r=None
print(r)

None

In [26]:
# conversion of dtype
a = 30.5
b = int(a)
print(a, type(b),b)

30.5 <class 'int'> 30

In [27]:
a = 30.9
a = int(a)
print(a)

30